@page "{id}"
@model RecipeManager.Pages.Recipes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.Recipe.Name</h1>
<p><b>@Model.Recipe.TimeToCook</b></p>
@foreach(var ingredient in Model.Recipe.ingredients)
{
    <p><b>@ingredient.Name @ingredient.Quantity@ingredient.Unit</b></p>
}

<p>@Model.Recipe.Method</p>